<div class="table-container">
  <table mat-table class="hero-table" [dataSource]="heroesDataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="nameLabel">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{ "hero.nameLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.nameLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="nameChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.NAME] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.NAME] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <!-- Skills Column -->
    <ng-container matColumnDef="skillsLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "hero.skillsLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.skillsLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="skillsChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.SKILLS] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.SKILLS] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <!-- MemberOf Column -->
    <ng-container matColumnDef="memberOfLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "hero.memberOfLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.memberOfLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="memberOfChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.MEMBEROF] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.MEMBEROF] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <!-- Occupation Column -->
    <ng-container matColumnDef="occupationLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "hero.occupationLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.occupationLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="occupationChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.OCCUPATION] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.OCCUPATION] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="genderLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "hero.genderLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.genderLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="genderChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.GENDER] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.GENDER] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <!-- Citizenship Column -->
    <ng-container matColumnDef="citizenshipLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "hero.citizenshipLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.citizenshipLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="citizenshipChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.CITIZENSHIP] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.CITIZENSHIP] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <!-- Creator Column -->
    <ng-container matColumnDef="creatorLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "hero.creatorLabel" | translate }}
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.creatorLabel }}</td>
    </ng-container>
    <ng-container matColumnDef="creatorChart">
      <th mat-header-cell *matHeaderCellDef>
        <ng-template
          [ngTemplateOutletContext]="{
            $implicit: heroesGroupedData[HERO_CHART.CREATOR] | chartData
          }"
          [ngTemplateOutlet]="
            this[heroesGroupedData[HERO_CHART.CREATOR] | chartSelector]
          "
        ></ng-template>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="columnsChart; sticky: true"></tr>
    <tr
      mat-row
      class="hero-table__row"
      *matRowDef="let hero; columns: columnsToDisplay"
      (click)="onClickHero(hero)"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of Heroes"
  >
  </mat-paginator>
</div>

<ng-template #pieChart let-data>
  <app-bar-chart [data]="data"></app-bar-chart>
</ng-template>

<ng-template #barChart let-data>
  <app-pie-chart [data]="data"></app-pie-chart>
</ng-template>
