<table mat-table class="hero-table" [dataSource]="heroesDataSource" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="nameLabel">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let hero">{{ hero.nameLabel }}</td>
  </ng-container>

  <!-- Skills Column -->
  <ng-container matColumnDef="skillsLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Skills</th>
    <td mat-cell *matCellDef="let hero">{{ hero.skillsLabel }}</td>
  </ng-container>

  <!-- MemberOf Column -->
  <ng-container matColumnDef="memberOfLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Member Of</th>
    <td mat-cell *matCellDef="let hero">{{ hero.memberOfLabel }}</td>
  </ng-container>

  <!-- Occupation Column -->
  <ng-container matColumnDef="occupationLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Occupation</th>
    <td mat-cell *matCellDef="let hero">{{ hero.occupationLabel }}</td>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="genderLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
    <td mat-cell *matCellDef="let hero">{{ hero.genderLabel }}</td>
  </ng-container>

  <!-- Citizenship Column -->
  <ng-container matColumnDef="citizenshipLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Citizenship</th>
    <td mat-cell *matCellDef="let hero">{{ hero.citizenshipLabel }}</td>
  </ng-container>

  <!-- Creator Column -->
  <ng-container matColumnDef="creatorLabel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
    <td mat-cell *matCellDef="let hero">{{ hero.creatorLabel }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row class="hero-table__row" *matRowDef="let hero; columns: columnsToDisplay" (click)="onClickHero(hero)"></tr>
</table>
