<mat-expansion-panel class="hero-edit"
  [expanded]="editing"
  (opened)="editing = true"
  (closed)="editing = false"
  hideToggle
>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ "hero-actions.create" | translate }}</mat-panel-title>
  </mat-expansion-panel-header>

  <form class="edit-edit__form" [formGroup]="heroForm">
    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.nameLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="nameLabel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.skillsLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="skillsLabel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.memberOfLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="memberOfLabel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.occupationLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="occupationLabel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.genderLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="genderLabel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.citizenshipLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="citizenshipLabel" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "hero.creatorLabel" | translate }}</mat-label>
      <input type="text" matInput formControlName="creatorLabel" />
    </mat-form-field>
  </form>

  <!-- #docregion action-bar -->
  <mat-action-row class="edit-edit__actions">
    <button mat-button color="secondary" (click)="cancel()">
      {{ "actions.cancel" | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="save()">
      {{ "actions.save" | translate }}
    </button>
  </mat-action-row>
  <!-- #enddocregion action-bar -->
</mat-expansion-panel>
